footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px; /* Ajusta el relleno según sea necesario */
}

.logo {
    font-size: 1.5em; /* Ajusta el tamaño del texto según sea necesario */
}

.col-3 {
    margin-left: 20px; /* Ajusta el margen entre las columnas según sea necesario */
}

.footer-cat {
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-cat-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-cat-links li {
    margin-bottom: 5px;
}



iframe {
    width: 400px;
    height: 300px;
    border: 0;
    margin-left: auto; /* Mueve el iframe a la derecha del contenedor */
}
