.cd__main {
  display: block !important;
}
h3,
h4,
h5 {
  font-weight: 300 !important;
}

.calendar-wrapper {
  height: auto;
  max-width: 730px;
  margin: 0 auto;
}

.calendar-header {
  background-color: rgba(18, 15, 25, 0.25);
  height: 100%;
  padding: 20px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  position: relative;
}

.header-title {
  padding-left: 15%;
}

.header-background {
  background-image: url("https://raw.githubusercontent.com/JustMonk/codepen-resource-project/master/img/compressed-header.jpg");
  height: 200px;
  background-position: center right;
  background-size: cover;
}

.calendar-content {
  background-color: #fff;
  padding: 20px;
  padding-left: 15%;
  padding-right: 15%;
  overflow: hidden;
}

.event-mark {
  width: 5px;
  height: 5px;
  background-color: teal;
  border-radius: 100px;
  position: absolute;
  left: 46%;
  top: 70%;
}

.calendar-footer {
  height: 200px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-align: center;
  background-color: #4b6289 !important;
  position: relative;
  overflow: hidden;
}

.addForm {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  background-color: #4b5889 !important;
  transition: top 0.5s cubic-bezier(1, 0, 0, 1);
  padding: 0 5px 0 5px;
}

.addForm input {
  color: #fff;
}

.addForm .row {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin-bottom: 0;
}

.addForm h4 {
  color: #fff;
  margin-bottom: 1rem;
}

.addEventButtons {
  text-align: right;
  padding: 0 0.75rem 0 0.75rem;
}
.map-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 aspect ratio (height/width) */
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.addEventButtons a {
  color: black;
  font-weight: 300;
}

.emptyForm {
  padding: 20px;
  padding-left: 15%;
  padding-right: 15%;
}

.emptyForm h4 {
  color: #fff;
  margin-bottom: 2rem;
}

.sidebar-wrapper {
  color: #fff;
  background-color: #5a649c !important;
  padding-top: 0;
  padding-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  padding-left: 0;
  padding-right: 0;
}

.sidebar-title {
  padding: 50px 6% 50px 12%;
}

.sidebar-title h4 {
  margin-top: 0;
}

.sidebar-events {
  overflow-x: hidden;
  overflow-y: hidden;
  margin-bottom: 70px;
}

.empty-message {
  font-size: 1.2rem;
  padding: 15px 6% 15px 12%;
}

.eventCard {
  background-color: #fff;
  color: black;
  padding: 12px 24px 12px 24px;
  border-bottom: 1px solid #e5e5e5;
  white-space: nowrap;
  position: relative;
  animation: slideInDown 0.5s;
}

.eventCard-header {
  font-weight: bold;
}

.eventCard-description {
  color: grey;
}

.eventCard-mark-wrapper {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 60px;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 25%,
    rgba(255, 255, 255, 1) 100%
  );
}

.eventCard-mark {
  width: 8px;
  height: 8px;
  background-color: #b39ddb;
  border-radius: 100px;
  position: absolute;
  left: 50%;
  top: 45%;
}

.day-mark {
  width: 7px;
  height: 7px;
  background-color: #b39ddb;
  border-radius: 100px;
  position: absolute;
  left: 47%;
  top: 67%;
}

.content-wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: 300px;
}

#table-body .col:hover {
  cursor: pointer;
  /*border: 1px solid grey;*/
  background-color: #e0e0e0;
}

.empty-day:hover {
  cursor: default !important;
  background-color: #fff !important;
}

#table-body .row .col {
  padding: 0.75rem;
}

#table-body .col {
  border: 1px solid transparent;
}

#table-body {
}

#table-body .row {
  margin-bottom: 0;
}

#table-body .col {
  padding-top: 1.3rem !important;
  padding-bottom: 1.3rem !important;
}

#calendar-table {
  text-align: center;
}

.prev-button {
  position: absolute;
  cursor: pointer;
  left: 0%;
  top: 35%;
  color: grey !important;
}

.prev-button i {
  font-size: 4em;
}

.next-button {
  position: absolute;
  cursor: pointer;
  right: 0%;
  top: 35%;
  color: grey !important;
}

.next-button i {
  font-size: 4em;
}

.addEvent {
  box-shadow: 0 5px 15px rgb(57, 168, 228);
  background-color: #39a8e4;
  padding: 10px;
  padding-left: 3em;
  padding-right: 3em;
  cursor: pointer;
  border-radius: 25px;
  color: #fff !important;
  background-image: linear-gradient(135deg, #8d8dd4, #45ced4);
}

.addEvent:hover {
  transition: box-shadow 0.5s;
  box-shadow: 0 4px 25px rgb(57, 168, 228);
}

.mobile-header {
  padding: 0;
  display: none;
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
  z-index: 99;
  width: 100%;
  background-color: #5a649c !important;
}

.mobile-header a i {
  color: #fff;
  font-size: 38px;
}

.mobile-header h4 {
  color: #fff;
}

.mobile-header .row {
  margin-bottom: 0;
}

.mobile-header h4 {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  padding: 14px 16px; /* Add padding for better spacing */
}

.topnav a {
  float: left; /* Remove for responsive layout */
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  padding: 10px; /* Adjust padding to fit within the menu bar */
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.close-menu {
  display: block;
  float: right;
  margin-top: 5px;
  padding: 10px;
  background-color: #ddd;
  color: #333;
  text-decoration: none;
}

.close-menu:hover {
  background-color: #bbb;
}


/* Desktops and laptops ----------- */
@media only screen and (max-width: 1280px) {
  .calendar-wrapper {
    max-width: 100%;
  }

  .header-title {
    padding-left: 10%; /* Adjust as needed */
  }

  .calendar-content {
    padding-left: 10%; /* Adjust as needed */
    padding-right: 10%; /* Adjust as needed */
  }

  .sidebar-title {
    padding: 20px 6% 20px 12%; /* Adjust as needed */
  }

  .content-wrapper {
    margin-left: 0;
  }

  .mobile-header {
    display: block;
  }

  .mobile-header h4 {
    margin-left: 10px; /* Adjust as needed */
  }

  .addForm {
    padding: 0 10px 0 10px; /* Adjust as needed */
  }
  
  .addForm input {
    width: 100%; /* Adjust as needed */
  }

  .eventCard {
    padding: 12px;
  }

  .addEventButtons {
    text-align: left;
  }

  .prev-button,
  .next-button {
    font-size: 3em; /* Adjust as needed */
  }

  .addEvent {
    padding-left: 2em;
    padding-right: 2em;
  }
  .brand-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.brand-logos a {
    flex-basis: calc(50% - 20px);
    margin: 10px;
    text-align: center;
}

#revenue .sec-heading {
    font-size: 24px;
}

#revenue a img {
    max-width: 100%;
    height: auto;
}

#revenue p {
    font-size: 14px;
}

.calendar-wrapper {
    max-width: 100%;
}

.header-title {
    padding-left: 10%;
}

.calendar-content {
    padding-left: 10%;
    padding-right: 10%;
}

.sidebar-title {
    padding: 20px 6% 20px 12%;
}

.content-wrapper {
    margin-left: 0;
}

.mobile-header {
    display: block;
}

.mobile-header h4 {
    margin-left: 10px;
}

.addForm {
    padding: 0 10px 0 10px;
}

.addForm input {
    width: 100%;
}

.eventCard {
    padding: 12px;
}

.addEventButtons {
    text-align: left;
}

.prev-button,
.next-button {
    font-size: 2.5em; /* Adjust as needed */
}

.addEvent {
    padding-left: 1.5em;
    padding-right: 1.5em;
}
}
.main-navbar {
  display: block;
  position: relative;
}

.main-menu {
  text-align: center;
}

/* iPads to Smartphone for Common Elements ----------- */
@media only screen and (max-width: 1024px) {
 




  #intro-info {
      width: 40%;
  }

  #intro-info h1 {
      font-size: 25px;
      margin: 0px 0 20px;
  }

  #intro-info span {
      font-size: 19px;
      padding: 0 0 45px;
  }

  #development-img {
      width: 60%;
  }

  #development-img img {
      height: 290px;
  }

 

  #topHeader .logo {
      position: absolute;
      color: #fff;
      z-index: 2;
      top: 0;
      padding-top: 0.5em;
      font-size: 40px;
      left: 0;
      padding-left: 1em;
  }

  

  .brand-logos div {
      overflow-x: auto;
      overflow-y: hidden;
  }

  #delivery .col-5 {
      display: block;
      float: none;
      width: 100%;
      text-align: center;
  }

  #delivery .col-7 {
      width: 100%;
      display: block;
      text-align: center;
  }
  .col-3 {
      display: block;
      width: 100%;
      padding-bottom: 1em;
  }
  .col-3#newsletter {
      width: 100%;
      position: relative;
      padding-bottom: 0;
  }

  .social-1 {
      display: none !important;
  }

  .social-2 {
      display: inline-table;
      position: absolute;
      top: 7em;
      padding-bottom: 1.5em;
      width: 100%;
  }

  #address {
      margin-top: 8em;
  }

  #newsletter #address li i {
      width: auto;
  }

  #newsletter #address li div {
      font-size: 14px;
      width: auto;
      text-align: -webkit-auto;
      float: none;
      line-height: 2;
      display: inline-block;
      padding: 10px 0 15px;
  }

  #newsletter #address li div:last-child {
      padding-bottom: 0;
  }

  #newsletter #address li:not(:first-child) {
      padding: 20px 0 0;
  }
}


/* iPads (portrait)----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  section {
    padding: 0 1em; /* Ajustado para evitar un exceso de espacio en los lados */
  }

  .sec-heading {
    padding: 0; /* Reducido el espacio alrededor del encabezado */
  }

  #services ul li {
    width: 100%; /* Ocupa el ancho completo para una mejor disposición en pantallas más pequeñas */
    margin-bottom: 1em; /* Añadido margen inferior para separar los elementos */
  }

  #delivery img {
    max-width: 100%; /* Ajustado el tamaño máximo de la imagen para que sea responsive */
    height: auto;
  }

  #highlights {
    display: block; /* Cambiado a bloque para evitar problemas de visualización en pantallas más pequeñas */
  }

  .slider img {
    max-width: 100%; /* Ajustado el tamaño máximo de las imágenes del slider */
    height: auto;
  }

  .slider .slide-text div {
    width: 100%; /* Ajustado el ancho al 100% para ocupar todo el espacio disponible */
    margin-top: 10px; /* Agregado un pequeño margen superior */
  }

  footer {
    padding: 1em; /* Ajustado el relleno para un espacio uniforme */
  }

  .col-3 {
    display: block;
    width: 100%;
    padding-bottom: 1em;
  }
  
}


/* iPads (landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  section {
    padding-bottom: 3em;
  }

  .sec-heading {
    padding: 1em 0;
  }

  #intro {
    padding-top: 4em;
    padding-bottom: 3em;
  }

  #development-img img {
    height: 290px;
  }

  #intro-info {
    margin-top: 4.8%;
  }

  #intro-info h1 {
    font-size: 23px;
    margin: 0px 0 20px;
  }

  #intro-info span {
    font-size: 20px;
    padding: 0 0 45px;
  }

  .sec-heading {
    font-size: 30px;
  }

  #services ul li {
    width: 30%;
  }

  #services ul li .fas,
  #services ul li .fab {
    font-size: 60px;
  }

  .slider img {
    height: 210px;
  }

  #highlights,
  #success-story {
    display: inline-block;
  }

  .slider .slide-text div {
    margin-top: 0px;
  }

  .col-3 {
    display: block;
    width: 100%;
    padding-bottom: 1em;
  }
}

/* Mini Tablet and Big Mobile */
@media only screen and (min-width: 640px) and (max-width: 760px) and (orientation: landscape) {
  section {
    padding: 0 2em 3em;
  }

  .sec-heading {
    font-size: 26px;
    padding: 1em 0;
  }

  #intro {
    padding-bottom: 2em;
    padding-right: 2em;
    padding-left: 2em;
  }

  #intro-info {
    width: 45%;
    margin-top: 2.8%;
  }

  #intro-info h1 {
    font-size: 22px;
    margin: 0px 0 15px;
  }

  #intro-info span {
    font-size: 17px;
    padding: 0 0 35px;
  }

  #development-img {
    width: 55%;
  }

  #development-img img {
    height: 210px;
  }

  #delivery h2 {
    font-size: 24px;
  }

  #services ul li {
    width: 30%;
  }

  #services ul li .fas,
  #services ul li .fab {
    font-size: 60px;
  }

  #services #service-footer {
    padding-top: 40px;
  }

  #success-story,
  #highlights {
    display: inline-block;
  }

  .slider img {
    height: 190px;
  }

  .slider .slide-text div {
    width: 90%;
    margin-top: 0px;
  }
}

/* Mini Tablet ----------- */
@media only screen and (max-width: 600px) {
  section {
    display: block;
    padding: 0 2em 5em;
  }

  .sec-heading {
    font-size: 26px;
  }

  #intro {
    padding-bottom: 12em;
    padding-top: 1em;
  }

  #intro-info h1 {
    font-size: 26px;
  }

  #intro-info span {
    padding: 0 0 45px;
    font-size: 20px;
  }

  #intro-info,
  #development-img {
    display: block !important;
    width: 100%;
    text-align: center;
  }

  #intro-tag-btn {
    position: absolute;
    display: block !important;
    bottom: 60px;
    width: 100%;
    left: 0;
    right: 0;
  }

  .col-3 {
    display: block;
    width: 100%;
    padding-bottom: 1em;
  }

  .col-5 {
    width: 100%;
  }

  .col-7 {
    width: 100%;
  }

  .sec-heading {
    padding: 1em 0;
  }

  .delivery-img {
    float: none;
    text-align: center;
  }

  #delivery img {
    height: 350px;
  }

  #delivery h2 {
    text-align: center;
    font-size: 24px;
  }

  .btn-footer {
    text-align: center;
  }

  #services ul li {
    width: 32.5%;
  }

  #success-story {
    background-color: #f6f6f6;
    display: inline-block;
  }

  .slider .slide-text div {
    width: 75%;
    text-align: center;
    margin-top: 0;
  }

  .brand-logos div {
    overflow-x: auto;
    overflow-y: hidden;
  }

  .slider .slide-text div h2 {
    margin: 0;
  }

  #highlights .slider .slide-text div {
    width: 85%;
    margin-top: 0;
  }

  .slider img {
    height: 200px;
  }

  .slider .slide-text div h2 {
    margin: 0;
  }

  .slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
  }

  .col-6 {
    width: 100%;
    display: block;
  }

  .slider .slide-text {
    float: none;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .slider .slide-img {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .slider .slide-text div,
  #highlights .slider .slide-text div {
    margin-top: 30px;
  }

  footer {
    padding: 3em 2em 2em;
  }
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width: 480px) {
  #topHeader .logo {
    padding-top: 0.8em;
    font-size: 30px;
    padding-left: 0.8em;
  }

  #intro {
    padding: 1em 1em 12em 1em;
  }

  #development-img img {
    height: 280px;
  }

  

  section {
    padding: 0 1em 3em;
  }

  .sec-heading {
    padding: 0%;
  }

  #delivery img {
    height: 230px;
  }

  #services ul li {
    width: 38%;
  }

  #services ul li:nth-child(even) {
    margin-left: 40px;
  }

  #services ul li:nth-child(odd) {
    margin-right: 40px;
  }

  .col-6 {
    width: 100%;
    display: block;
  }

  #success-story .slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
  }

  .slider .slide-text {
    float: none;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .slider .slide-img {
    text-align: center;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .slider .slide-text div {
    width: 100%;
    text-align: center;
  }

  footer {
    padding-right: 1em;
    padding-left: 1em;
  }

  a#gotop {
    right: 2.5em;
  }
}

/* Small Devices (portrait and landscape) ----------------- */
@media only screen and (max-width: 380px) {
  #development-img img {
    height: 230px;
  }

  #intro-tag-btn {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }

  #delivery img {
    height: 180px;
  }

  #services ul li {
    width: 40%;
  }

  #services ul li:nth-child(even) {
    margin-left: 20px;
  }

  #services ul li:nth-child(odd) {
    margin-right: 20px;
  }

  #services ul li div {
    padding: 15px 5px;
  }

  .slider img {
    height: 200px;
  }
}

/* X-Tra Small Devices  (portrait and landscape) ----------- */
@media only screen and (max-width: 320px) {
  #development-img img {
    height: 210px;
  }

  #services ul li:nth-child(odd) {
    margin-right: 0;
  }

  #services ul li:nth-child(even) {
    margin-right: 0;
  }

  #services ul li {
    width: 45%;
  }

  #services ul li div {
    padding: 15px 5px;
  }

  .slider img {
    height: 180px;
  }
}
@media screen and (max-width: 600px) {
  .topnav a {
    float: none; /* Remove float for responsive layout */
    display: block;
    text-align: left;
  }

  .topnav .icon {
    display: block;
    float: right;
    margin-top: 5px;
  }

  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 10px; /* Adjust positioning slightly */
    top: 10px; /* Adjust positioning slightly */
  }
}