.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    border-bottom: 1px solid #0e0d0d;
}

.styled-table th {
    background-color: #f2f2f2;
}

.styled-table tbody tr:hover {
    background-color: #f5f5f5;
}
#new-section { /* Updated the id in the CSS */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust the height as needed */
}

#new-section-info { /* Updated the id in the CSS */
    text-align: center;
}